
.class1{
    background-color:rgba(255,0,0, 0.5);
    display: inline-block;
    border: solid black;
    height: 100px;
    width: 100px;;
}
.class2{
    background-color: rgba(0, 255, 0, 0.5);
    display: inline-block;
    border: solid black;
    height: 100px;
    width: 100px;;
}
.class3{
    background-color: rgba(0, 0, 255, 0.5);
    display: inline-block;
    border: solid black;
    height: 100px;
    width: 100px;;
}
.nav{
    padding: 0;
    margin: 0;
    background-color: #0f1111;
    height: 60px;
    color: white;
}
#logo{
    color:#f08804;
}
button{
    background-color: #f08804;
    
}
a{
    
    margin-right:197px;
    text-decoration: none;
    color:white;
    border: 10px;
    padding: 10% 0% 0% 0%;
}